/* Advantages.module.css */

.advantages-section {
  text-align: center;
  padding: 50px;
  background-color: transparent;
}

.advantage {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  background-color: transparent;
  border: none;
}

.advantage-details {
  max-width: 500px;
  text-align: left;
  margin-right: 20px; /* Added margin-right */
}

.advantage-details p {
  font-size: 1.2em;
  color: #333;
}

.advantage-details h3 {
  font-size: 1.5em;
  margin-top: 5px;
  margin-bottom: 0;
  color: #000000;
}

.app-screenshot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-screenshot img {
  max-width: 100%;
  height: auto;
}

.logo-heading {
  display: flex;
  align-items: center;
}

.logo-heading img {
  width: auto;
  height: 1.5em;
  margin-right: 10px;
  vertical-align: middle;
}












@media (min-width: 768px) {
  .advantages-section {
    padding: 70px;
  }

  .advantage {
    grid-template-columns: 1fr 1fr; /* Adjusted grid layout for wider screens */
    margin-bottom: 60px;
  }

  .advantage-details {
    max-width: 100%; /* Full width for wider screens */
    margin-right: 0; /* Removed margin-right */
  }

  .advantage-details h3 {
    font-size: 1.8em; /* Increased font size for wider screens */
  }
}
