@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"); 

.pricing-section {
  background-color: transparent; /* Transparent background color */
  font-family: "Source Sans Pro", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pricing-section h1,
.pricing-section p {
  text-align: center;
}

.pricing-section .pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pricing-section .plan {
  background-color: #fff;
  /*background-color: #fff*/
  padding: 2.5rem;
  margin: 12px;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.pricing-section .plan h2 {
  font-size: 22px;
  margin-bottom: 12px;
}

.pricing-section .plan .price {
  margin-bottom: 1rem;
  font-size: 30px;
}

.pricing-section .plan ul.features {
  list-style-type: none;
  text-align: left;
}

.pricing-section .plan ul.features li {
  margin: 8px;
}

.pricing-section .plan ul.features li .fas {
  margin-right: 4px;
}

.pricing-section .plan ul.features li .fa-check-circle {
  color: #ffae00;
}

.pricing-section .plan ul.features li .fa-times-circle {
  color: #ffa600;
}

.pricing-section .plan button {
  border: none;
  width: 100%;
  padding: 12px 35px;
  margin-top: 1rem;
  background-color: #ffc400;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.pricing-section .plan.popular {
  border: 2px solid #ff8800;
  position: relative;
  transform: scale(1.08);
}

.pricing-section .plan.popular span {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffa600;
  color: #fff;
  padding: 4px 20px;
  font-size: 18px;
  border-radius: 5px;
}

.pricing-section .plan:hover {
  box-shadow: 5px 7px 67px -28px rgba(0, 0, 0, 0.37);
}
