.testimonials {
    padding: 2rem;
    background-color: transparent;
    text-align: center;
  }
  
  .testimonial {
    margin: 2rem 0;
  }
  
  .testimonialImage img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  
  .navigation button {
    background-color: orange;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
  }
  